@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

main {
    background-color: white;
    margin: auto;
    max-width: 900px;
    min-width: 300px;
    margin-top: 20px;
    padding: 10px;
}

header {
    background-color: black;
}

header h1 {
    padding-top: 50px;
    padding-bottom: 50px;
    font-variant: small-caps;
    font-size: 2.5em;
    text-align: center;
    color: white;
}

.normal {
    background-color: white;
    padding-bottom: 40px;
    text-indent: 10px;
    margin-top: 10px;
}

.normal a {
    padding-left: 10px;
    display: inline-block;
    margin-top: 5px;
}

.fundo {
    background-color: black;
    margin: -10px;
}

.imagem {
    max-width: 400px;
}

.imagem section {
    padding-bottom: 40px;
}

.imagem p {
    color: white;
    text-indent: 10px;
}

.imagem a {
    padding-left: 20px;
    display: inline-block;
    margin-top: 5px;
}






