@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-size: 19.1px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

html, body {
    min-height: 100vh;
    background-color: rgb(46, 46, 46);
}

header {
    background-color: rgba(0, 0, 0, 0.644);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.329);
}

header h1 {
    padding-top: 50px;
    padding-bottom: 50px;
    font-variant: small-caps;
    font-size: 3em;
    text-align: center;
    color: white;
}

main {
    background-color: rgba(247, 0, 255, 0.089);
    margin: auto;
    max-width: 1000px;
    min-width: 320px;
    padding: 10px;
    padding-top: 20px;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.329);
}

.normal {
    padding-bottom: 40px;
    text-indent: 10px;
    margin-top: 10px;
}

.normal a {
    padding-left: 10px;
    display: inline-block;
    margin-top: 5px;
    text-decoration: none;
    color: rgba(255, 255, 3, 0.582);
    font-size: 17px;
}

.normal a:hover {
    text-decoration: underline ;
    font-weight: bold;
}
.externo#img05 {
    background-image: url(imagens/imagem05.webp);
}

.externo {
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    margin: -10px;
    margin-bottom: 25px;
    padding: 10px;
}

.interno {
    max-width: 450px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.397);
}

.interno section {
    padding-bottom: 40px;
}

.interno p {
    text-indent: 10px;
}

.interno q {
    color: rgb(240, 240, 240);
}

.interno a {
    font-size: 17px;
    padding-left: 20px;
    display: inline-block;
    text-decoration: none;
    margin-top: 5px;
    color: rgba(244, 180, 247, 0.671);
}

.interno a:hover {
    text-decoration: underline;
    font-weight: bold;
}

#final {
    padding-bottom: 10px;
}

.externo#img06 {
    background-image: url(imagens/imagem06.jpg);
}

aside {
    background-color:rgba(247, 0, 255, 0.062);
    max-width: 280px;
    text-align: center;
    margin: auto;
    margin-top: 25px;
}

cite {
    font-size: 15px;
}

aside a {
    font-size: 15px;
    text-decoration: none;
    color: rgba(255, 255, 3, 0.582);
}

aside a:hover {
    text-decoration: underline;
    font-weight: bold
}

footer {
    background-color: rgba(0, 0, 0, 0.829) ;
    text-align: center;
    margin-top: 80px;
    padding: 5px;
}

footer p {
    font-size: 15px;
}

footer a {
    font-size: 15px;
    text-decoration: none;
    color: rgba(137, 43, 226, 0.644);
}

footer a:hover {
    text-decoration: underline;
    font-weight: bold;
}




